<acc-day-chart></acc-day-chart>
<div>
  <span>Not In Collection</span>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Name</th>
      <th>Sale Price (in bells)</th>
      <th>Location</th>
      <th>On Island</th>
      <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bug of bugsNotInCollection">
      <td><input type="checkbox"/></td>
      <td>{{bug.id}}</td>
      <td>{{bug.name}}</td>
      <td>{{bug.price}}</td>
      <td>{{bug.location}}</td>
      <td>{{bug.onIsland | yesno}}</td>
      <td>{{bug.notes}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <span>In Collection</span>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Name</th>
      <th>Sale Price (in bells)</th>
      <th>Location</th>
      <th>On Island</th>
      <th>Notes</th>
      <th>Added to Collection</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bug of bugsInCollection">
      <td><input type="checkbox"/></td>
      <td>{{bug.id}}</td>
      <td>{{bug.name}}</td>
      <td>{{bug.price}}</td>
      <td>{{bug.location}}</td>
      <td>{{bug.onIsland | yesno}}</td>
      <td>{{bug.notes}}</td>
      <td>{{bug.added | date:'longDate'}}</td>
    </tr>
    </tbody>
  </table>
</div>
