<svg attr.height="{{totalHeight}}" width="1035" xmlns:svg="http://www.w3.org/2000/svg">
  <svg:g *ngFor="let bug of bugs; let i = index">
    <svg:text class="rowName"
              attr.x="{{rowLineStartX - 5}}"
              attr.y="{{getRowNameY(i)}}">{{bug.name}}
    </svg:text>
    <svg:line attr.x1="{{rowLineStartX}}"
              attr.y1="{{getRowLineY(i)}}"
              attr.x2="{{rowLineEndX}}"
              attr.y2="{{getRowLineY(i)}}"/>
    <svg:g *ngFor="let rect of getTimeRects(i)">
      <svg:rect attr.x="{{rect.x}}"
                attr.y="{{rect.y}}"
                attr.width="{{rect.width}}"
                attr.height="{{rect.height}}"
                rx="8"
                ry="8"/>
    </svg:g>
    <svg:text class="hideText"
              attr.x="{{rowLineEndX + 5}}"
              attr.y="{{getRowNameY(i) - 2}}">Hide
    </svg:text>
  </svg:g>
  <svg:g *ngFor="let tickIndex of tickMarkCount | counter">
    <svg:line attr.x1="{{getTickX(tickIndex)}}"
              attr.y1="{{height - 10}}"
              attr.x2="{{getTickX(tickIndex)}}"
              attr.y2="{{height}}"/>
    <svg:text class="timeLabel"
              attr.x="{{getTickX(tickIndex)}}"
              attr.y="{{height + timeLabelOffset}}">{{timeLabels[tickIndex]}}
    </svg:text>
  </svg:g>
  <svg:line attr.x1="{{rowLineStartX}}"
            attr.y1="{{height}}"
            attr.x2="{{rowLineEndX}}"
            attr.y2="{{height}}"/>
  <svg:g>
    <svg:text class="currentTimeText"
              attr.x="{{currentTimeX}}"
              attr.y="{{yOffset - 15}}">{{currentTimeText}}
    </svg:text>
    <svg:line class="currentTimeLine"
              attr.x1="{{currentTimeX}}"
              attr.y1="{{yOffset - 10}}"
              attr.x2="{{currentTimeX}}"
              attr.y2="{{height}}"/>
  </svg:g>
</svg>
