<app-header></app-header>
<div>
  <nav>
    <div>
      <a *ngFor="let menuOption of topMenuOptions" uiSref="{{menuOption.state}}" uiSrefActive="active">
        <img src="/assets/{{menuOption.image}}"/>
        <h2>{{menuOption.option}}</h2>
      </a>
    </div>
    <div>
      <a *ngFor="let menuOption of bottomMenuOptions" uiSref="{{menuOption.state}}" uiSrefActive="active">
        <img src="/assets/{{menuOption.image}}"/>
        <h2>{{menuOption.option}}</h2>
      </a>
    </div>
  </nav>
  <ui-view></ui-view>
</div>
